<html ng-app="RunHack">
    {{header}}
    <style>
        .mdi {
            font-size: 24px;
        }
    </style>
    <body ng-controller="HackathonsController as ctrlHackathons">
        <div layout="column" style="height:100%; margin-bottom:0px; overflow-y:hidden;" ng-cloak="" class="toolbardemoScrollShrink">
            <md-toolbar md-scroll-shrink ng-if="true">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleNavDrawer()">
                        <i class='mdi mdi-menu'></i>
                    </md-button>
                    <h2>
                        <span>{{ctrlHackathons.page.name}} {{ctrlHackathons.hackathon.userType}}</span>
                    </h2>
                    <span flex></span>
                    <div>
                        <md-button ng-repeat="toolbarItem in ctrlHackathons.toolbarItems | orderBy:'importance' | limitTo:3" ng-click="toolbarItem.onclick($event)" class="md-icon-button" aria-label="{{toolbarItem.title}}">
                            <i class='mdi mdi-{{toolbarItem.icon}}'></i>
                        </md-button>
                    </div>
                    <md-menu md-position-mode="target-right target" >
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <i md-menu-origin class='mdi mdi-dots-vertical'></i>
                        </md-button>
                        <md-menu-content width="3" >
                            <md-menu-item ng-repeat="toolbarItem in ctrlHackathons.toolbarItems | orderBy:'importance' | limitTo:'Infinity':3" ng-click="toolbarItem.onclick()">
                                <md-button ng-click="ctrl.announceClick($index)">
                                    <div layout="row">
                                        <p flex>{{toolbarItem.title}}</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <md-content flex="" layout-padding="" style="background-color:rgb(230, 230, 230);">
                <div class="hackathon-cards" layout-align="top center" style="display:flex; flex-wrap:wrap;">
                    <md-card ng-repeat="hackathon in ctrlHackathons.hackathons" ng-click="expandHackathon($event, hackathon)" class="hackathon-card" style="position:relative;">
                        <div style="background-image:url('{{hackathon.image}}');" class="md-card-image" alt="{{hackathon.name}}">
                        <md-card-content>
                            <h2 class="md-title">{{hackathon.name}}</h2>
                            <div class="time">
                                <i class='mdi mdi-calendar' style="color:{{hackathon.color}}"></i>{{hackathon.date}}
                            </div>
                            <div class="location">
                                <i class='mdi mdi-map-marker' style="color:{{hackathon.color}}"></i>{{hackathon.location}}
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div flex=""></div>
            </md-content>
            <!-- <md-button class="md-fab" style="position: fixed; right: 0px; bottom: 0px;" aria-label="Generate Report" ng-click="showGenerateReportDialog($event)" aria-label="Generate Report">
                <i class='mdi mdi-plus'></i>
            </md-button> -->
        </div>
    </body>
</html>
