<html ng-app="PokiTime">
    {{header}}
    <style>
        .mdi {
            font-size: 24px;
        }
    </style>
    <body ng-controller="PokiTimeController as ctrlPokiTime">
        <div layout="column" style="height:100%;" class="sidenavdemoBasicUsage">
            <md-toolbar class="md-theme-red">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleNavDrawer()">
                        <i class='mdi mdi-menu'></i>
                    </md-button>
                    <h2>
                        <span>{{ctrlPokiTime.page.name}}</span>
                    </h2>
                    <span flex></span>
                    <div>
                        <md-button ng-repeat="toolbarItem in ctrlPokiTime.toolbarItems | orderBy:'importance' | limitTo:3" ng-click="toolbarItem.onclick($event)" class="md-icon-button" aria-label="{{toolbarItem.title}}">
                            <i class='mdi mdi-{{toolbarItem.icon}}'></i>
                        </md-button>
                    </div>
                    <md-menu md-position-mode="target-right target" >
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <i md-menu-origin class='mdi mdi-dots-vertical'></i>
                        </md-button>
                        <md-menu-content width="3" >
                            <md-menu-item ng-repeat="toolbarItem in ctrlPokiTime.toolbarItems | orderBy:'importance' | limitTo:'Infinity':3" ng-click="toolbarItem.onclick()">
                                <md-button ng-click="ctrl.announceClick($index)">
                                    <div layout="row">
                                        <p flex>{{toolbarItem.title}}</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <section layout="row" flex="">
                <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" style="overflow-x: visible; overflow-y: hidden;">
                    <md-list style="overflow-x: hidden; overflow-y: auto;">
                        <md-list-item style="position: relative; width: 346px; margin-left: -18px; margin-right: -16px; overflow-x: hidden;">
                            <span></span>
                            <md-checkbox onclick="hacks.scope.ctrlPokiTime.selectAll();" ng-model="selection.forceAll" aria-label="Select all">
                                Select all
                            </md-checkbox>
                        </md-list-item>
                        <md-list-item ng-repeat="position in ctrlPokiTime.positions" style="position: relative; width: 346px; margin-left: -18px; margin-right: -16px; overflow-x: hidden;">
                            <div style="position: relative; left: -8px; right: 0px; display: flex; flex-direction: column; width: 100%; overflow-x: hidden;">
                                <md-button style="position: relative; width: 100%; height: 50px; border-radius: 0px; text-align: left;" aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
                                    {{position.title}}
                                    <i class='mdi mdi-chevron-down' style="position: absolute; top: 15px; right: 15px; pointer-events: none;"></i>
                                </md-button>
                                <md-list>
                                    <md-list-item ng-repeat="employee in ctrlPokiTime.employees" ng-if="employee.position === position._id">
                                        <span></span>
                                        <md-checkbox ng-model="employee.selected" style="position:relative; z-index:1;" aria-label="Select Employee">
                                            {{employee.first_name}} {{employee.last_name}}
                                        </md-checkbox>
                                        <md-button style="position: absolute; z-index: 2; top: 0px; right: -5px; border-radius: 0px; text-align: left;" class="md-icon-button launch" aria-label="Edit" ng-click="ctrlPokiTime.viewEmployee($event, employee._id)">
                                            <i class='mdi mdi-information' style="position: absolute; top: 12px; right: 12px;"></i>
                                        </md-button>
                                        <div style="width: 30px; height: 30px; background-image: url('{{employee.picture}}');'"></div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-button class="md-fab" style="position: fixed; right: -35px; bottom: 0px;" aria-label="Generate Report" ng-click="showGenerateReportDialog($event)" aria-label="Generate Report">
                        <i class='mdi mdi-chart-areaspline'></i>
                    </md-button>
                </md-sidenav>
                <md-content flex="" layout-padding="" style="background-color:rgb(230, 230, 230);">
                    <div layout="flex" layout-align="top center" style="display:flex; flex-wrap:wrap;">
                        <md-card>
                            <md-card-content>
                                <h2 class="md-title">Pay Split</h2>
                                <div id="pay_share" style="width: 350px; height: 300px;">No data</div>
                            </md-card-content>
                        </md-card>
                        <md-card>
                            <md-card-content>
                                <h2 class="md-title">Time Split</h2>
                                <div id="time_share" style="width: 350px; height: 300px;">No data</div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div flex=""></div>
                </md-content>
            </section>
        </div>
    </body>
</html>
