@import 'common';

md-toolbar:not(.md-menu-toolbar) {
    transition: background-color 0.3;
}

.hackathon-cards {
    position: relative;
    // width: 1000px;
    min-width: 350px;
    max-width: 1000px;
    margin-left: 250px;
    margin-right: 250px;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    flex-direction: row;
}

.hackathon-card {
    width: 350px;
    max-width: 100%;
    height: 330px;
    max-height: 100%;
    align-self: center;

    .md-card-image {
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    md-card-content {
        position: absolute;
        top: 200px;

        .time {
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .location {
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

md-dialog.hackathon {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-width: auto;
    max-width: none;
    min-height: auto;
    max-height: none;
}


.comments {
    // flex: auto;
    // flex-direction: row;
}

.comment {
    margin-bottom: 10px;

    .voting {
        margin-top: 0px;
        margin-left: 0px;
        width: 50px;
        height: 50px;
        vertical-align: middle;

        .score {
            position: relative;
            z-index: 1;
            margin-left: -3px;
        }

        .upvote {
            position: relative;
            margin-top: 0px;
            margin-left: -20px;
            z-index: 1;
            width: 0;
            height: 0;
            border-width: 0 6px 10.4px 6px;
            border-style: solid;
            border-color: transparent transparent #ff6600 transparent;
        }

        .downvote {
            position: relative;
            margin-top: -10px;
            margin-left: -10px;
            z-index: 1;
            width: 0;
            height: 0;
            border-width: 10.4px 6px 0 6px;
            border-style: solid;
            border-color: #007bff transparent transparent transparent;
        }

        .background {
            position: relative;
            z-index: -1;
            margin-top: -34px;
            margin-left: -20px;

            div {
                margin-top: 0px;
                margin-left: 0px;
                width: 0;
                height: 0;
                border-width: 0px 20px 34.6px 20px;
                border-style: solid;
                border-color: transparent transparent rgb(200, 200, 200) transparent;
            }
            span {
                margin-top: 0px;
                margin-left: 19px;
                width: 0;
                height: 0;
                border-width: 34.6px 20px 0px 20px;
                border-style: solid;
                border-color: rgb(200, 200, 200) transparent transparent transparent;
            }
        }
    }

    .user {
        margin-top: -56px;
        margin-left: 43px;
    }

    .comment {
        margin-left: 37px;
    }
}

// .comment {
//     position: relative;
//
//     .voting {
//         position: absolute;
//         top: 0px;
//         left: 0px;
//
//         .score {
//             position: absolute;
//             top: 0px;
//             left: 0px;
//         }
//
//         .upvote {
//             position: absolute;
//             top: 0px;
//             left: 30px;
//             width: 0;
//             height: 0;
//             border-width: 0 6px 10.4px 6px;
//             border-style: solid;
//             border-color: transparent transparent #ff6600 transparent;
//         }
//
//         .downvote {
//             position: absolute;
//             top: 20px;
//             left: 30px;
//             width: 0;
//             height: 0;
//             border-width: 10.4px 6px 0 6px;
//             border-style: solid;
//             border-color: transparent transparent #007bff transparent;
//         }
//     }
//
//     .user {
//         position: absolute;
//         top: 0px;
//         left: 40px;
//     }
//
//     .comment {
//         position: absolute;
//         top: 20px;
//         left: 40px;
//     }
// }






::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
} // the new scrollbar will have a flat appearance with the set background color

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
} // this will style the thumb, ignoring the track

::-webkit-scrollbar-button {
    background-color: rgba(0, 0, 0, 0.2);
} // optionally, you can style the top and the bottom buttons (left and right for horizontal bars)

::-webkit-scrollbar-corner {
    background-color: transparent;
} // if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled
